* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #dcccff;
}

#header {
  background-color: #932f6d;
  text-align: left;
  color: aliceblue;
  padding: 1px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

#message {
  text-align: center;
}

a {
  color: #000000;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#loadingBall {
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  background-image: linear-gradient(
    to bottom left,
    #932f6d 0%,
    aqua 50%,
    aquamarine 75%
  );
  display: none;

  animation: loadingAnim 4s infinite;
}

@keyframes loadingAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

#tabButtonsContainer {
  display: flex;
  justify-content: center;
}

.tabButton {
  background-color: #dcccff;
  width: 160px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  text-shadow: 1px 1px 2px #932f6d;
  border: 1px #e07be0 solid;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  margin: 1vh;
  padding-right: 4px;
  padding-left: 4px;
  display: none;
  transition: 0.5s;
}

.tabButton span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.tabButton:hover {
  background-color: #932f6d;
  text-decoration: underline;
  cursor: pointer;
}

#uploadDiv {
  margin: auto;
  width: 75%;
  height: 100%;
  background-color: #f6f2ff;
  padding: 10px;
  align-items: center;
  text-align: center;
  border-bottom: solid black 1px;
  display: flex;
  flex-direction: column;
}

#fileInfo {
  margin: auto;
  padding: 10px;
  width: 75%;
  height: 100%;
  background-color: #f6f2ff;
  align-items: center;
  text-align: center;
  display: none;
}

#reportDashboard {
  margin: auto;
  padding: 10px;
  width: 75%;
  height: 100%;
  background-color: #f6f2ff;
  align-items: center;
  text-align: center;
  display: none;
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  width: 75%;
  margin-left: 12%;
  margin-right: 12%;
}

tr,
td,
th {
  border-bottom: solid #e07be0 1px;
}

tbody:nth-child(odd) {
  background-color: #dcccff;
}

tr:hover {
  background-color: #e07be0;
}

.tabContent {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reportDiv {
  margin-bottom: 1vh;
}

.collapse {
  border: solid #e07be0 1px;
  width: 75%;
  height: 70px;
  margin-left: 12%;
  margin-right: 12%;
  background-color: #dcccff;
  position: relative;
  display: flex;
  justify-content: center;
}

.collapse:hover {
  background-color: #e07be0;
}

#urlCollapse {
  display: none;
  animation: fadeEffect 1s;
}

#authorsCollapse {
  display: none;
  animation: fadeEffect 1s;
}

.linkSpan {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25.98px solid #932f6d;
  position: absolute;
  top: 27%;
  right: 95%;
}

.downArrow {
  width: 0;
  height: 0;
  border-top: 25.98px solid #932f6d;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: 31%;
  right: 95%;
}
